{% extends 'base.html.twig' %}

{% block title %}{{ 'password.change'|trans }} - APU System{% endblock %}

{% block body %}
<div class="d-flex">
    {% include 'partials/_sidebar.html.twig' %}

    <div class="flex-grow-1">
        {% include 'partials/_navbar.html.twig' with {'title': 'password.change'|trans} %}

        <div class="container-fluid p-4 content-wrapper">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissible fade show">
                    <i class="bi bi-exclamation-triangle-fill"></i> {{ message|trans }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body p-4">
                            <h4 class="card-title mb-4">
                                <i class="bi bi-key-fill"></i> {{ 'password.change'|trans }}
                            </h4>

                            <div class="alert alert-info">
                                <i class="bi bi-info-circle"></i>
                                <strong>{{ 'password.security_requirements'|trans }}:</strong>
                                <ul class="mb-0 mt-2">
                                    <li>{{ 'password.min_8_chars'|trans }}</li>
                                    <li>{{ 'password.recommended_chars'|trans }}</li>
                                </ul>
                            </div>

                            <form method="post">
                                <div class="mb-3">
                                    <label for="current_password" class="form-label">{{ 'password.current'|trans }} *</label>
                                    <input type="password" class="form-control" id="current_password"
                                           name="current_password" required>
                                </div>

                                <div class="mb-3">
                                    <label for="new_password" class="form-label">{{ 'password.new'|trans }} *</label>
                                    <input type="password" class="form-control" id="new_password"
                                           name="new_password" required minlength="8">
                                </div>

                                <div class="mb-4">
                                    <label for="confirm_password" class="form-label">{{ 'password.confirm_new'|trans }} *</label>
                                    <input type="password" class="form-control" id="confirm_password"
                                           name="confirm_password" required minlength="8">
                                </div>

                                <div class="d-flex justify-content-between">
                                        {% import 'partials/_button.html.twig' as btn %}
                                        {{ btn.button('buttons.back'|trans, 'secondary', 'bi-arrow-left', {'href': path('app_profile')}) }}
                                        {{ btn.button('password.change'|trans, 'primary', 'bi-check-circle', {'type':'submit'}) }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
