{% extends 'base.html.twig' %}

{% block title %}{{ 'security_2fa.regenerate_title'|trans }}{% endblock %}

{% block body %}
  <div class="container py-4">
    <h1>{{ 'security_2fa.regenerate_header'|trans }}</h1>
    <p>{{ 'security_2fa.regenerate_instructions'|trans }}</p>

    <form method="post">
      <div class="mb-3">
        <label class="form-label">{{ 'security_2fa.current_password'|trans }}</label>
        <input name="current_password" type="password" class="form-control" required />
      </div>
      <button class="btn btn-primary">{{ 'security_2fa.regenerate_button'|trans }}</button>
    </form>
  </div>
{% endblock %}
